<template name="contribute">
  <h1>Give Kiitos</h1>
  <table>
    <thead>
      <tr>
        <td>Name</td>
        <td>Websites</td>
        <td>Maximum Amount Owner is Matching</td>
        <td>Matching Per 100 Wei</td>
        <td>Number of Contributors</td>
        <td>Total Donated in ETH</td>
        <td>Total Matched in ETH</td>
      </tr>
    </thead>
    <tbody>
    {{#each fundraisers}}
      <tr>
        <td>{{name}}</td>
        <td>
          {{#each websites}}
            <div>{{weiToEth (add amountToClaim amountClaimed)}} ETH into {{url}}</div>
          {{/each}}
        </td>
        <td>{{maxOwnerMatching}}</td>
        <td>{{matchingPer100Wei}}</td>
        <td>{{numberOfContributors}}</td>
        <td>{{currentDonated}}</td>
        <td>{{currentMatched}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</template>