<template name="create">
  <h1>Create a New Kiitos Fundraiser</h1>
  <form method="POST">
    <div class="input-group">
      <span class="legend">Contract Name</span>
      <input type="text" id="name" placeholder="Enter a contract name">
    </div>

    <!-- Websites -->
    <div class="input-group-dual">
      <input type="text" id="urlInput" placeholder="Enter a website address">
      <input type="number" id="percentInput" max="100" min="1">
      <input type="button" value="Add" id="submitAdd">
    </div>

    <div class="input-group">
      {{#each EditingWebsites}}
        <span class="legend">{{website}} with {{percentage}} %</span>
      {{/each}}
    </div>
    <div class="input-group">
      <span class="legend">Maximum Match</span>
      <input type="number" id="maxMatch" min="0">
    </div>
    <div class="input-group">
      <span class="legend">Match Per 100 Wei</span>
      <input type="number" id="matchPerHundredWei" max="1000" min="0">
    </div>
    <div class="input-group">
      <span class="legend">Accept Donations After Funds Empty</span>
      <input type="checkbox" id="continueAfterEmpty">
    </div>

    <input type="button" value="Submit" id="submitFundraiser">
  </form>
</template>