<template name="create">
  <div class="container">
    <h1>Create a New Kiitos Fundraiser</h1>
    <br>
    <form method="POST">
      <form class="form-horizontal">
        <div class="form-group">
          <label for="contributionName" class="col-sm-2 control-label">Fundraiser Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name" placeholder="Enter a fundraiser name" required>
          </div>
        </div>

        <!-- Websites -->
        <div class="form-group">
          <label class="col-sm-2 control-label">Charities</label>
          <div class="col-sm-6">
            <input type="text" size="30" class="form-control" id="urlInput" placeholder="A http link to the charity" required>
          </div>
          <div class="col-sm-2">
            <input type="number" size="10" class="form-control" id="percentInput" placeholder="Charity percentage" max="100" min="1">
          </div>
          <div class="col-sm-2">
            <input type="button" size="10" class="form-control btn-primary" value="Add" id="submitAdd">
          </div>
        </div>


        <div class="form-group">
          <label for="contributionName" class="col-sm-2 control-label">Current Charities</label>
          {{#each EditingWebsites}}
            <div class="col-sm-1">{{percentage}}%</div>
            <div class="col-sm-9">for {{website}} </div>
          {{/each}}
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Maximum I Can Match</label>
          <div class="col-sm-4">
            <div class="input-group">
              <input type="number" class="form-control" placeholder="The funds you're willing to match with" id="maxMatch" min="0">
              <div class="input-group-addon">ETH</div>
            </div>
          </div>
          <label class="col-sm-2 control-label">Match Per 100 Wei</label>
          <div class="col-sm-4">
            <input type="number" class="form-control" placeholder="For each 100 wei you give how much" id="matchPerHundredWei" min="0">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-2">
          </div>
          <div class="col-sm-8 checkbox">
            <label><input type="checkbox" id="continueAfterEmpty" value="">Accept Donations After Funds Empty</label>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-2" style="float:right">
            <input type="button" class="form-control btn-success" value="Submit" id="submitFundraiser">
          </div>
        </div>


      </form>
    </form>
  </div>
</template>