<template name="home">
  <div class="fullwidth-cover-image">
  <div class="full-width-cover">
    <div class="container">
      <div class="page-title">
        <div class="page-break"></div>
        <p>Helping charities one small step at a time</p>
      </div>
    </div>
  </div>
  </div>
  <div class="about">
    <h2>About Kiitos</h2>
    <p>At the moment donating to charities online is way too complex, and the websites take cuts, and you're not even sure if your money will reach them as the centralized website you go through has complete control over your money and on what charities you can donate to. We thought this needed a change!
    </p>
    <p> Kiitos is a platform that allows everyone to participate in fundraising without any risks or worries as it is Decentralized, Free, Transparent & easy to use. </p>
  </div>
</template>