.fullwidth-cover-inner {
    position: relative;
    height: 600px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    text-align: center;
    padding: 0;
    color: #222;
    background: url('../triangles.png');
    background-attachment: scroll;
    background-position: left bottom;
    background-repeat: repeat-x;
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-image: url("../charity.jpg");
}

.page-break {
    height: 25px;
    margin: 20px 0 0;
}


.page-title {
    position: relative;
    display: inline-block;
    margin-top: 140px;
    margin-bottom: 40px;
}

