.full-width-cover {
  background-image: url('../img/triangles.png');
  bottom: 0;
  position: absolute;
  width: 100%;
}

.page-break {
  height: 25px;
  margin: 20px 0 0;
}

.page-title {
  z-index: 10;
  opacity: 1;
  color: white;
  text-align: center;
  padding-bottom: 250px;
}

.page-title p {
  font-size: 40px;
  text-shadow: 1px 1px 1px black;
}

.fullwidth-cover-image {
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 10%;
  background-repeat: no-repeat;
  background-image: url('../img/banner.jpg');
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 500px;
  opacity: 0.8;
}

.about {
  padding-top: 520px;
}

.about p {
  font-size: 20px;
  line-height: 1.5;
}

