* {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Signika', sans-serif;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: black;

}
nav ul li {
  cursor: pointer;
  display: inline-block;
  margin-right: 30px;
  align-content: center;
  color: white;
}

nav ul li.active {
  background-color: dimgrey;
}

nav ul li.last {
  margin: 0;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: white;
  top: 0;
  left: 0;
  display: none;
}

.overlay.show {
  display: block;
}

.spinner {
  top: 50%;
  left: 50%;
  margin: -73px 0 0 -36px;
  position: fixed;
}