* {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Signika', sans-serif;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  cursor: pointer;
  display: inline-block;
  margin-right: 30px;
}

nav ul li.active {
  color: darkblue;
}

nav ul li.last {
  margin: 0;
}

.input-group {
  display: block;
  width: 400px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: white;
  top: 0;
  left: 0;
  display: none;
}

.overlay.show {
  display: block;
}

.spinner {
  top: 50%;
  left: 50%;
  margin: -73px 0 0 -36px;
  position: fixed;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 20px auto;
}

table thead,
table tbody {
  border-bottom: 2px solid rgba(86, 86, 86, 0.25);
}

table td {
  padding: 0.75em 0.75em;
}

table th {
  font-size: 0.9em;
  font-weight: 500;
  padding: 0 0.75em 0.75em 0.75em;
  text-align: left;
}

table tbody tr {
  border: 1px solid rgba(86, 86, 86, 0.25);
  border-left: 0;
  border-right: 0;
}

table tbody tr:nth-child(2n+1) {
  background-color: rgba(86, 86, 86, 0.075);
}

