* {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

h1, h2, h3 {
  font-family: 'Signika', sans-serif;
  margin-bottom: 40px;
}

nav {
  background-color: #e7e7e7;
  box-shadow: 1px 1px 2px gray;
}

nav a {
  display: inline-block;
  padding: 12px 0;
  text-decoration: none !important;
  color: darkslategray;
}

nav a span {
  font-family: 'Signika', sans-serif;
  margin-left: 15px;
  font-size: 38px;
  vertical-align: middle;
}

nav a img {
  height: 60px;
}

nav ul {
  list-style: none;
  padding: 20px 0;
  margin: 0;
  float: right;
}
nav ul li {
  cursor: pointer;
  display: inline-block;
  margin-right: 30px;
  align-content: center;
  font-size: 18px;
  padding: 14px 16px;
}


nav ul li.last {
  margin: 0;
  padding-right: 0;
}


.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: white;
  top: 0;
  left: 0;
  display: none;
}

.overlay.show {
  display: block;
}

.spinner {
  top: 50%;
  left: 50%;
  margin: -73px 0 0 -36px;
  position: fixed;
}

.card {
  box-shadow: 0px 1px 5px gray;
  width: 400px;
  height: 300px;
  margin: 20px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.card .name {
  font-size: 28px;
  margin: 20px 0 0 20px;
  line-height: 1;
  display: inline-block;
  color: #488ce3;
  font-weight: bold;
}

.card .matchingPerHundredWei,
.card .currentDonated,
.card .currentMatched {
  width: 133px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  float: left;
}

.card .matchingPerHundredWei span,
.card .currentDonated span,
.card .currentMatched span {
  font-size: 28px;
  display: block;
}

.card .bottom {
  background: #f6f0f0;
  position: absolute;
  bottom: 0;
  padding: 20px 0;
  width: 100%;
  color: #665f5f;
}

.card .websites {
  margin: 20px;
  margin-bottom: 0;
  overflow-y: auto;
  height: 60px;
}

.card .maxOwnerMatching {
  margin: 10px 0 0 20px;
  font-weight: bold;
}

.card .websites .website {
  display: block;
}

input[type=text],
input[type=number] {
  background: rgba(144, 144, 144, 0.075);
  border-radius: 4px;
  border: solid 1px rgba(144, 144, 144, 0.25);
  color: inherit;
  display: block;
  outline: 0;
  padding: 20px 15px;
  text-decoration: none;
  font-size: 18px;
}

.btn-success,
.btn-primary,
.btn-default {
  padding: 7px 10px;
  height: auto;
  font-size: 18px;
  border: none !important;
}

.btn-success {
  background-color: #37b37f !important;
  color: #ffffff !important;
}

.btn-success:hover,
.btn-success:active {
  background-color: #3fc48c !important;
}

.btn-primary {
  background-color: #292929 !important;
  color: #ffffff !important;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: #363636 !important;
}

.btn-default {
  box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.2) !important;
  color: #616161 !important;
}

.btn-default:hover {
  background-color: rgba(144, 144, 144, 0.075) !important;
}

.btn-default:active {
  background-color: rgba(144, 144, 144, 0.2) !important;
}

.form-horizontal {
  margin-top: 20px;
}