* {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

h1, h2, h3 {
  font-family: 'Signika', sans-serif;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: black;

}
nav ul li {
  cursor: pointer;
  display: inline-block;
  margin-right: 30px;
  align-content: center;
  color: white;
}

nav ul li.active {
  background-color: dimgrey;
}

nav ul li.last {
  margin: 0;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: white;
  top: 0;
  left: 0;
  display: none;
}

.overlay.show {
  display: block;
}

.spinner {
  top: 50%;
  left: 50%;
  margin: -73px 0 0 -36px;
  position: fixed;
}

.card {
  box-shadow: 0px 1px 4px gray;
  width: 400px;
  height: 300px;
  margin: 20px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.card .name {
  font-size: 28px;
  margin: 20px 0 0 20px;
  line-height: 1;
  display: inline-block;
  color: #488ce3;
  font-weight: bold;
}

.card .matchingPerHundredWei,
.card .currentDonated,
.card .currentMatched {
  width: 133px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  float: left;
}

.card .matchingPerHundredWei span,
.card .currentDonated span,
.card .currentMatched span {
  font-size: 28px;
  display: block;
}

.card .bottom {
  background: #f6f0f0;
  position: absolute;
  bottom: 0;
  padding: 20px 0;
  width: 100%;
  color: #665f5f;
}

.card .websites {
  margin: 20px;
  margin-bottom: 0;
  overflow-y: auto;
  height: 60px;
}

.card .maxOwnerMatching {
  margin: 10px 0 0 20px;
  font-weight: bold;
}

.card .websites .website {
  display: block;
}